<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-6'>
        DISCOVRE
    </div>
    <div class='col-md-3'>
        <%= render partial: "layouts/discover_side_panel" %>
    </div>
    <div class='col-md-1'></div>
</div>