
<div class='row'>
    <div class='col-xs-2'></div>
    <div class='col-xs-8 white'>
        <h1>Followers:</h1>
        
        <% @followers.each do |follower_user|%>
            <%= link_to follower_user.username, follower_user %> <br>
        <% end %>
    </div>
    <div class='col-xs-2'></div>
</div>