
<div class='row'>
    <div class='col-xs-2'></div>
    <div class='col-xs-8 white'>
        <h1>Following:</h1>
        
        <% @following.each do |following_user|%>
            <%= link_to following_user.username, following_user %> <br>
        <% end %>
    </div>
    <div class='col-xs-2'></div>
</div>