<div class="post_card" style="min-height: 400px">
    <span style="color:black;">
        <h1 class="tumblr_blue center sidebar_header">New Post</h1>
        <%= form_for @post, html: { multipart: true } do |f| %>
        <%= f.text_field :title, size: "15x1", placeholder:"Title", style:"font-size:50px; border: 0px solid;", autocomplete:"off"  %><br>
        <%= f.text_area :body, size: "60x2", placeholder:"Your text here", style:"border: 0px solid;", autocomplete:"off" %>
        <%= f.file_field :photo, style:"padding-left:40%;" %>
        <button type="button submit" name="commit" class="btn btn-secondary">Create Post</button>
    <% end %>
    </span>
</div>