<div class="post_card cf">
    <div class='new_post'>
        <%= link_to "New text post", new_post_path %>
    </div>
    <div class="new_post">
        <%= link_to "new picture post", "#" %>
    </div>
</div>