<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8 center white'>
        <h1>Edit Post</h1>
        <%= render "forms/post" %>
    </div>
    <div class='col-md-2'></div>
</div>