<div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-8'>
        <%= render partial: "new_post"%>
        <% @posts.each do |post|%>
            <%= render partial: "post", locals: {post: post} %>
        <% end %>
    </div>
    <div class='col-md-2 following_container'>
        <h2 class="light_gray">Following</h2>
        <% @following.each do |following| %>
            <%= link_to following.username, following, class: "med_gray" %>
            <br>
        <% end %>
    </div>
    <div class='col-md-1'></div>
</div>