<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8 center white'>
        <div class="post_card">
            <h2><%= @post.title %></h2>
            <h4><%= @post.body %></h4>
        </div>
    </div>
    <div class='col-md-2'></div>
</div>