
body{
    background-color: #35465c;
}

.background{
    background-color: #35465c;
}

.white{
    color: white;
}

.light_gray{
    color:#d3d3d3;
}

.med_gray{
    color:#a8a8a8;
}

.center{
    text-align: center;
}

.following_container{
    border-left: solid thick #2f3d51;
    position: fixed;
    padding-left: 5px;
}

.avatar{
    height: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.navbar.navbar-default {
  padding: 10px 0;
  background: #35465c;
  border: none;
}
.navbar.navbar-default .navbar-nav > li > a,
.navbar.navbar-default .navbar-brand {
  color: white;
}
.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}