// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_card{
    background-color: white;
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 25px
}