// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_card{
    background-color: white;
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.post_header{
    border-bottom: thin solid #d3d3d3;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.post_content{
    margin: 15px;
}

.username{
    color:#a8a8a8;
    text-decoration: bold;
}


