<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
        <%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %>
    </div>
    <div class='col-md-2'></div>
</div>