<div class="post_card">
    <div class='post_header center'>
        <%= image_tag user.avatar.url, class:"avatar" %>
        <%= link_to user.username, user, class:"username" %>  
    </div>
    <div class="post_content cf">
        Recent Posts:
        <%= link_to user.posts[-1].title, post_path(user.posts[-1]) %>
    </div>
</div>